// Colors
$yellow: #fff846;
$turquoise: #00ffc2;
$green: #7AFF6E;
$black: #000;
$white: #FFF;

// Fonts
$mainFont: 'Open Sans', sans-serif;
$pixelFont: 'Pixel Operator', sans-serif;

$mainFontSize: 1rem;

// Spacing
$defaultPadding: 1rem;
$defaultMargin: 1rem;

// Responsive
$mobileBreakPoint: 600px;
$tabletBreakpoint: 1000px;
$desktopBreakPoint: 1500px;
