.main-bold-text {
    font-family: $mainFont;
    text-transform: uppercase;
    font-weight: 800;
}

.pixel-text {
    font-family: $pixelFont;
    font-smooth: never;
    -webkit-font-smoothing : none;
}